<h2 class="template-type-title">Template Type: One Column</h2>
<form action="#" class="template-01 form-slide-creator">
  <input type="hidden" name="template" value="01">
  <p class="form-row">
    <label for="slide-title">Slide title:</label>
    <input type="text" id="slide-title" name="slide-title">
  </p>
  <div class="form-content grid cl">
    <div class="col col-1">
      <div class="module">
        <ul class="form-list-bullets"></ul>
        <button class="btn btn-primary" data-add-bullet>Add new bullet</button>
      </div>
    </div>
  </div>
  <p class="form-controls">
    <button type="reset" class="btn">Reset</button>
    <button type="submit" class="btn btn-success" data-add-slide>Save</button>
  </p>
</form>